/*-------------------------------------------------------
34. Blog css  
---------------------------------------------------------*/

.blog-box {
	.blog-meta {
		ul {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: fit-content;
			margin-left: auto;
			border-bottom: 1px solid var(--clr-def);
			padding-bottom: 7px;
			margin-bottom: 3rem;
			position: relative;
			z-index: 1;
			&::before {
				@include pos-abs(var(--clr-gradient),1rem,8rem,1);
				bottom: -10px;
				right: 0;
				clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 0);
			}
			li {
				font-size: 1.4rem;
				margin-right: 1rem;
				color: #000;
				font-weight: 600;
				font-family: var(--font-4);
				&:last-child {
					margin-right: 0;
				}
				i {
					color: var(--clr-def);
					margin-right: 1rem;
				}
			}
		}
	}
	.blog-desc {
		background-color: #fff;
		padding: 3rem;
		.heading-1 {
			border-bottom: 1px dashed var(--clr-heading);
			padding-bottom: 2.9rem;
			margin-bottom: 2.9rem;
		}
	}
}

.blog-shape-1 {
    position: absolute;
    z-index: -1;
    top: -100px;
    right: 0;
    width: 100%;
    height: 70%;
    opacity: .15;
}
