/*-------------------------------------------------------
26. Service CSS 
---------------------------------------------------------*/

.service-area {
	&::before {
		@include pos-abs(var(--clr-2),30%,100%,1);
		bottom: 0;
		left: 0;
	}
}

.service-shape {
	.service-shape-1 {
		position: absolute;
		bottom: 30%;
		left: 0;
		z-index: -1;
		opacity: .05;
	}
}

.service-box {
	background-color: var(--clr-white);
	padding:  5rem 3rem;
	.service-icon {
		margin-bottom: 3rem;
		position: relative;
		z-index: 1;
		i {
			height: 7rem;
			width: 7rem;
			display: inline-block;
		}
	}
	.service-desc {
		.heading-4 {
			margin-bottom: 2rem;
			text-transform: capitalize;
		}
		p {
			margin-bottom: 3rem;
		}
	}
}

.service-shape {
	position: absolute;
    z-index: -1;
    top: -2rem;
    left: 0rem;
    width: 45%;
	opacity: .1;
}


